# Makefile output
/kosinski_compress
/kosinski_compress_asm
/kosinski_compress_d
/kosinski_decompress
/kosinski_decompress_d
/kosinski_compare
/kosinskim_compare
/kosinskim_compress_d
/kosinskim_decompress_d

# CMake build directory
/build
